*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inter',sans-serif;
  background-color: #BB8EA6;
}

/* wrapper */

.wrapper{
  margin: 0 auto;
  background: url('/assets/dots.svg'),url('/assets/dots.svg');
  background-size: 30% 30%;
  background-repeat: no-repeat,no-repeat;
  background-position: top right, bottom left;
  width: 769px;
  height: 100vh;
}
.container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* flex box */

.flex{
 display: flex;
 flex-direction: column;
}


/* setting panel */
.setting-panel-box{
  background-color: #FFFFFF;
  padding: 48px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
            
}
.setting-header{
  margin-top: 0;
  color: #A06484;
  border-bottom: 2px solid #A06484;
  padding-bottom: 24px;
}
.setting-box{
  color: #BB8EA6;
  margin-left: 36px;
}
.switch-btn{
  width: 64px;
  height: 36px;
  background-color: #E3EAEE;
  border-radius: 20px;

  display: flex;
  justify-content: left;
  align-items: center;
}
.toggle-dot{
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
/* grid box */
.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}
.grid-item-btn{
  align-self: center;
  justify-self: center;
}