*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inter',sans-serif;
  background-color: var(--background-color);
}
.hidden{
  display:none;
}
/* Dark Mode */
:root{
  --primary-color:#FFFFFF;
  --background-color:#BB8EA6;
  --white-text-color:#111827;
  /* --primary-color:#0f172a;
  --background-color:#1e293b; */
}
.dark-mode{
  --primary-color:#0f172a;
  --background-color:#1e293b;
  --white-text-color:#f3f4f6;  
}

/* wrapper */

.wrapper{
  margin: 0 auto;
  position: relative;
  background: url('/assets/dots.svg'),url('/assets/dots.svg');
  background-size: 30% 30%;
  background-repeat: no-repeat,no-repeat;
  background-position: top right, bottom left;
  width: 768px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* flex box */


/* grid box */
.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid-item-btn{
  align-self: center;
  justify-self: center;
}


/* setting panel */
.setting-panel-box{
  background-color: var(--primary-color);
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  width: 90%;
  z-index: 0;
            
}
.setting-header{
  margin-top: 0;
  color: #A06484;
  border-bottom: 2px solid #A06484;
  padding-bottom: 12px;
}
.setting-box{
  color: #BB8EA6;
  margin-left: 36px;
}
.switch-btn{
  width: 72px;
  height: 36px;
  background-color: #E3EAEE;
  border-radius: 20px;
  border: none;

  display: flex;
  align-items: center;

  transition: all 0.3s ease-in-out;
}
.active{
  justify-content: right;
  background-color: #CB87AB;
}
.delete-btn{
  padding:12px 24px;
  background-color: #FF9292;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  border-radius: 10px;

  transition: all 0.3s ease;
}
.delete-btn:hover{
  background-color: #A06484;
  
}
.toggle-dot{
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;

}
.setting-box > div > p{
  font-size: 1rem;
}

/* delete modal */
.delete-modal-box{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  z-index: 1;
  background-image: #111827;
  /* gradient direction: to right, color stops: #ffcc00 to #ff6699 */
  width: 460px;
  
  
}
.modal-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1fr,3);
  grid-template-areas: "icon" "icon " "icon";

  border-radius: 10px;
  padding: 24px;
  width: 100%;
  background-color: var(--primary-color);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
.warning-icon{
  width: 72px;
  height: 72px;
  grid-area: icon;
  justify-self: center;
  align-self: center;

  color:#dc2626;
}
.modal-box > h3{
  margin-bottom: 0;
  color: #dc2626;
}
.modal-box > p{
  font-size: 14px;
  color: #020617;
  color: var(--white-text-color);
}
.modal-box > div {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.modal-box > div > button{
  padding: 12px;
  width: 100%;
  font-weight: 700;
  color:#0f172a ;
  border-radius: 5px;
  border: none;
  background-color: #d1d5db;
  transition: all 0.3s ease;
}
.modal-box > div > button:first-child{
  background-color:#ef4444;
}
.modal-box > div > button:first-child:hover{
  background-color: #b91c1c;
}
.modal-box > div > button:nth-child(2):hover{
  background-color: #9ca3af;
}